<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/process}" th:object="${message}" method="post">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{posteddate}" />
    <input type="hidden" th:field="*{postedtime}" />

&lt;!&ndash;    Title :<input type="text" th:field="*{title}" />&ndash;&gt;
    &lt;!&ndash;<label>Title: </label>
    <textarea rows="1" maxlength="160" class="messagetitle" th:text="${message.title}" ></textarea>&ndash;&gt;
    Title :<input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br />


&lt;!&ndash;    Content :<textarea rows="3" maxlength="140" th:field="*{content}" />&ndash;&gt;
    <label>Content: </label>
    <textarea rows="4" maxlenght="160" class="messagecontent" th:text="${message.content}"></textarea>
    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span><br /><br />

&lt;!&ndash;    Sent By :<input type="text" th:field="*{sentby}" />&ndash;&gt;
    <label>Sent By: </label>
    <textarea rows="1" maxlenght="40" class="messagesentby" th:text="${message.sentby}"></textarea>
    <span th:if="${#fields.hasErrors('sentby')}" th:errors="*{sentby}"></span><br /><br />

    <input type="submit" value="Submit" />

</form>
</body>
</html>
-->



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="messageform.css">
</head>
<body>
<form action="#" th:action="@{/process}" th:object="${message}" method="post">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{posteddate}" />
    <input type="hidden" th:field="*{postedtime}" />
    <br /><br />
    Title :<input type="text" class="messagetitle" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br /><br />
    Content :<textarea rows="3" maxlength="140" class="messagecontent" th:field="*{content}" />
    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span><br /><br/>
    Sent By :<input type="text" class="messagesentby" th:field="*{sentby}" />
    <span th:if="${#fields.hasErrors('sentby')}" th:errors="*{sentby}"></span><br /><br />
    <input type="submit" value="Submit" class="messagesubmitbutton"/>


</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

